<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <h1> Student Database </h1>
    <input type="button" value="Add Student" id="addStudentButton">
    <input type="button" value="Remove Student" id="removeStudentButton">
    <input type="button" value="Edit Student" id="editStudentButton">
    <input type="button" value="Search Student" id="searchStudentButton">
    <table style="width:40%; border: 1px solid black;">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Grade</th>
        <th>Age</th>
        <th>GPA</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
    <script src="js/jq.js/"></script>
    <script src="js/home.js"></script>
  </body>
</html>
